.btn:link,
.btn:visited
    text-transform: uppercase
    text-decoration: none
    padding: 1.5rem 4rem
    display: inline-block
    border-radius: 10rem
    transition: all 0.3
    font-size: $defaultFontSize

.btn:hover
    transform: translateY(-2px)

.btn:active
    transform: translateY(-1px)

.btnWhite
    background-color: $white
    color: $grey

    &:hover
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2)

    &:active
        box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2)

.btnText
    &:link,
    &:visited
        color: $darkGreen
        display: inline-block
        text-decoration: none
        border-bottom: 1px solid $darkGreen
        padding: 3px
        font-size: $defaultFontSize
        transition: all 0.2s

    &:hover
        background-color: $darkGreen
        color: $white
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.15)
        transform: translateY(-2px)
    &:active

        box-shadow: 0 1rem 1rem rgba(0,0,0,0.15)
        transform: translateY(0)
